<a href="https://colab.research.google.com/github/ayesha-0610/AlmaBetter_module-task/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("Global Terrorism Data.csv",encoding='latin1')

/tmp/ipython-input-2729809798.py:1: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Global Terrorism Data.csv",encoding='latin1')

In [ ]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [ ]:
df['country_txt'].unique()

array(['Dominican Republic', 'Mexico', 'Philippines', 'Greece', 'Japan',
       'United States', 'Uruguay', 'Italy', 'East Germany (GDR)',
       'Ethiopia', 'Guatemala', 'Venezuela', 'West Germany (FRG)',
       'Switzerland', 'Jordan', 'Spain', 'Brazil', 'Egypt', 'Argentina',
       'Lebanon', 'Ireland', 'Turkey', 'Paraguay', 'Iran',
       'United Kingdom', 'Colombia', 'Bolivia', 'Nicaragua',
       'Netherlands', 'Belgium', 'Canada', 'Australia', 'Pakistan',
       'Zambia', 'Sweden', 'Costa Rica', 'South Yemen', 'Cambodia',
       'Israel', 'Poland', 'Taiwan', 'Panama', 'Kuwait',
       'West Bank and Gaza Strip', 'Austria', 'Czechoslovakia', 'India',
       'France', 'South Vietnam', 'Brunei', 'Zaire',
       "People's Republic of the Congo", 'Portugal', 'Algeria',
       'El Salvador', 'Thailand', 'Haiti', 'Sudan', 'Morocco', 'Cyprus',
       'Myanmar', 'Afghanistan', 'Peru', 'Chile', 'Honduras',
       'Yugoslavia', 'Ecuador', 'New Zealand', 'Malaysia', 'Singapore',
       'Botswana', 'Jamaica', 'Chad', 'North Yemen', 'Andorra', 'Syria',
       'South Korea', 'United Arab Emirates', 'South Africa', 'Kenya',
       'Iraq', 'Somalia', 'Tanzania', 'Sri Lanka', 'Namibia', 'Bahamas',
       'Nigeria', 'Barbados', 'Trinidad and Tobago', 'Bangladesh',
       'Angola', 'Mauritania', 'Saudi Arabia', 'Djibouti', 'Indonesia',
       'Malta', 'Rhodesia', 'Soviet Union', 'Denmark', 'Western Sahara',
       'Guyana', 'Mozambique', 'Tunisia', 'Uganda', 'Norway', 'Lesotho',
       'Gabon', 'Libya', 'Bahrain', 'Hong Kong', 'Senegal', 'Zimbabwe',
       'Guinea', 'Grenada', 'New Hebrides', 'Belize', 'Guadeloupe',
       'Martinique', 'Vatican City', 'Albania',
       'Central African Republic', 'Seychelles', 'Dominica', 'Qatar',
       'Bulgaria', 'Suriname', 'Swaziland', 'Luxembourg', 'Iceland',
       'French Guiana', 'Falkland Islands', 'Burkina Faso',
       'New Caledonia', 'Romania', 'Niger', 'Nepal', 'Togo', 'Finland',
       'Fiji', 'Ghana', 'Maldives', 'Mauritius', 'Hungary', 'Laos',
       'Papua New Guinea', 'China', 'Liberia', 'Republic of the Congo',
       'Mali', 'Germany', 'Yemen', 'Rwanda', 'Sierra Leone', 'Cameroon',
       'Cuba', 'Croatia', 'Georgia', 'Azerbaijan', 'Madagascar',
       'Lithuania', 'Burundi', 'Ukraine', 'Moldova', 'Armenia', 'Russia',
       'Ivory Coast', 'Kazakhstan', 'Antigua and Barbuda',
       'Bosnia-Herzegovina', 'Equatorial Guinea', 'Tajikistan', 'Malawi',
       'Uzbekistan', 'Latvia', 'Estonia', 'Vietnam', 'Comoros', 'Benin',
       'Slovak Republic', 'Macedonia', 'Wallis and Futuna', 'Belarus',
       'Czech Republic', 'Slovenia', 'Gambia', 'North Korea', 'Eritrea',
       'St. Kitts and Nevis', 'French Polynesia', 'Macau', 'Kyrgyzstan',
       'Vanuatu', 'Democratic Republic of the Congo', 'Kosovo',
       'Solomon Islands', 'East Timor', 'St. Lucia', 'Guinea-Bissau',
       'Montenegro', 'International', 'Turkmenistan', 'Serbia-Montenegro',
       'Bhutan', 'Serbia', 'South Sudan'], dtype=object)

In [ ]:
df['country'].unique()

array([  58,  130,  160,   78,  101,  217,  218,   98,  499,   65,   83,
        222,  362,  199,  102,  185,   30,   60,   11,  110,   96,  209,
        158,   94,  603,   45,   26,  145,  142,   21,   38,   14,  153,
        230,  198,   49,  406,   36,   97,  161,  201,  156,  106,  155,
         15,  236,   92,   69,  428,   31,  604,  605,  162,    6,   61,
        205,   87,  195,  136,   53,  138,    4,  159,   43,   88,  235,
         59,  144,  121,  178,   29,  100,   42,  377,    7,  200,  184,
        215,  183,  104,   95,  182,  203,  186,  139,   17,  147,   20,
        207,   19,    8,  128,  173,   56,   93,  124,  403,  359,   55,
        349,   86,  137,  208,  213,  151,  111,   72,  113,   18,   89,
        174,  231,   84,   80,  532,   22,   81,  127,  221,    5,   41,
        176,   57,  164,   32,  196,  197,  116,   91,   70,   66,   33,
        143,  166,  146,  141,  204,   68,   67,   76,  122,  129,   90,
        108,  157,   44,  112,   47,  123,   75,  228,  168,  177,   37,
         51,   50,   74,   16,  119,  115,   34,  214,  132,   12,  167,
         99,  103,   10,   28,   62,  202,  120,  219,  109,   64,  223,
         46,   23,  179,  118,  226,   35,   54,  180,   73,  149,   63,
        189,   71,  117,  107,  220,  229, 1003,  181,  347,  190,   85,
       1002,  422,  210,  175,   25, 1001, 1004])

In [ ]:
df.shape

(181691, 135)

In [ ]:
df.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.816910e+05,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,181685.000000,...,1.350000e+03,5.630000e+02,7.740000e+02,552.000000,10991.000000,10400.000000,181691.000000,181691.000000,181691.000000,181691.000000
mean,2.002705e+11,2002.638997,6.467277,15.505644,0.045346,131.968501,7.160938,23.498343,-4.586957e+02,1.451452,...,3.172530e+06,5.784865e+05,7.179437e+05,240.378623,4.629242,-29.018269,-4.543731,-4.464398,0.090010,-3.945952
std,1.325957e+09,13.259430,3.388303,8.814045,0.208063,112.414535,2.933408,18.569242,2.047790e+05,0.995430,...,3.021157e+07,7.077924e+06,1.014392e+07,2940.967293,2.035360,65.720119,4.543547,4.637152,0.568457,4.691325
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-8.618590e+07,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991021e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,5.000000,11.510046,4.545640e+00,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.009022e+11,2009.000000,6.000000,15.000000,0.000000,98.000000,6.000000,31.467463,4.324651e+01,1.000000,...,1.500000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.014081e+11,2014.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.685087,6.871033e+01,1.000000,...,4.000000e+05,0.000000e+00,1.273412e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.017123e+11,2017.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,1.793667e+02,5.000000,...,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2769.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    172452
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       156653
Length: 135, dtype: int64

In [ ]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [ ]:
df.describe()

,eventid,iyear,imonth,iday,extended,country,region,latitude,longitude,specificity,...,ransomamt,ransomamtus,ransompaid,ransompaidus,hostkidoutcome,nreleased,INT_LOG,INT_IDEO,INT_MISC,INT_ANY
count,1.816910e+05,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,181685.000000,...,1.350000e+03,5.630000e+02,7.740000e+02,552.000000,10991.000000,10400.000000,181691.000000,181691.000000,181691.000000,181691.000000
mean,2.002705e+11,2002.638997,6.467277,15.505644,0.045346,131.968501,7.160938,23.498343,-4.586957e+02,1.451452,...,3.172530e+06,5.784865e+05,7.179437e+05,240.378623,4.629242,-29.018269,-4.543731,-4.464398,0.090010,-3.945952
std,1.325957e+09,13.259430,3.388303,8.814045,0.208063,112.414535,2.933408,18.569242,2.047790e+05,0.995430,...,3.021157e+07,7.077924e+06,1.014392e+07,2940.967293,2.035360,65.720119,4.543547,4.637152,0.568457,4.691325
min,1.970000e+11,1970.000000,0.000000,0.000000,0.000000,4.000000,1.000000,-53.154613,-8.618590e+07,1.000000,...,-9.900000e+01,-9.900000e+01,-9.900000e+01,-99.000000,1.000000,-99.000000,-9.000000,-9.000000,-9.000000,-9.000000
25%,1.991021e+11,1991.000000,4.000000,8.000000,0.000000,78.000000,5.000000,11.510046,4.545640e+00,1.000000,...,0.000000e+00,0.000000e+00,-9.900000e+01,0.000000,2.000000,-99.000000,-9.000000,-9.000000,0.000000,-9.000000
50%,2.009022e+11,2009.000000,6.000000,15.000000,0.000000,98.000000,6.000000,31.467463,4.324651e+01,1.000000,...,1.500000e+04,0.000000e+00,0.000000e+00,0.000000,4.000000,0.000000,-9.000000,-9.000000,0.000000,0.000000
75%,2.014081e+11,2014.000000,9.000000,23.000000,0.000000,160.000000,10.000000,34.685087,6.871033e+01,1.000000,...,4.000000e+05,0.000000e+00,1.273412e+03,0.000000,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,2.017123e+11,2017.000000,12.000000,31.000000,1.000000,1004.000000,12.000000,74.633553,1.793667e+02,5.000000,...,1.000000e+09,1.320000e+08,2.750000e+08,48000.000000,7.000000,2769.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [ ]:
df.isnull().values.any()

np.True_

In [ ]:
df.isnull().mean()*100

eventid        0.000000
iyear          0.000000
imonth         0.000000
iday           0.000000
approxdate    94.914993
                ...
INT_LOG        0.000000
INT_IDEO       0.000000
INT_MISC       0.000000
INT_ANY        0.000000
related       86.219461
Length: 135, dtype: float64

In [ ]:
# Step 3: Drop all rows with any missing values
df_clean = df.dropna()

# Step 4: Confirm that missing values are gone
print("\nMissing values after cleaning:")
print(df_clean.isnull().sum())

# Step 5: Optional – check how many rows were removed
print(f"\nOriginal shape: {df.shape}")
print(f"Cleaned shape:  {df_clean.shape}")

# Step 6: Save the cleaned dataset (optional)
df_clean.to_csv("Global_Terrorism_Data_Clean.csv", index=False)
print("\nCleaned dataset saved as 'Global_Terrorism_Data_Clean.csv'")

Missing values after cleaning:
eventid       0
iyear         0
imonth        0
iday          0
approxdate    0
             ..
INT_LOG       0
INT_IDEO      0
INT_MISC      0
INT_ANY       0
related       0
Length: 135, dtype: int64

Original shape: (181691, 135)
Cleaned shape:  (0, 135)

Cleaned dataset saved as 'Global_Terrorism_Data_Clean.csv'